<html lang="es">
<head>
<meta charset="utf-8">
<meta http-equiv="X-UA-Compatible" content="IE=edge">
<meta name="viewport" content="width=device-width, initial-scale=1">
<title>raspiCar</title>
<script src="https://code.jquery.com/jquery-3.1.1.min.js" 
integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8=" 
crossorigin="anonymous"></script>
<head>
<body>
<h1>{{ state_msg }}<h1>
<button type="button" class="btn btn-default" id="move-left"> < </button>
<button type="button" class="btn btn-default" id="move-forward"> ^ </button>
<button type="button" class="btn btn-default" id="move-backward"> v </button>
<button type="button" class="btn btn-default" id="move-right"> > </button>
<button type="button" class="btn btn-danger" id="stop">Stop</button>
<script>
$('#stop').on('click', function(){
$.get('/stop');
});
$('#move-forward').on('click', function(){
$.get('/move/forward');
});
$('#move-backward').on('click', function(){
$.get('/move/backward');
});
$('#move-left').on('click', function(){
$.get('/move/left');
});
$('#move-right').on('click', function(){
$.get('/move/right');
});
</script>
</body>
</html>
